#icon0{
	width:90px;
	height:90px;
	border-radius: 50%;
}

#icon1{
	width:90px;
	height:90px;
	border-radius: 50%;
}

#icon2{
	width: 130px;
	height: 160px;
	border-radius: 50%;
}
#icon3{
	width: 110px;
	height: 110px;
	border-radius: 20%;
}
